.client-navbar {
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px; /* Optional: Limit the maximum width of the navbar */
}

.client-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Optional: Limit the maximum width of the dashboard */
    justify-content: center; /* Center items horizontally */
}

.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 71ce6b7f0df75aeabc99b175800035fdfb44aca2
